STK_Client/WcfService/Ref_WS_STK/WS_STK41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/TyOffice/AppExt/STK/Service/WS_STK.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STK_Service" />
  <xs:element name="SYS_Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ATestName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SYS_TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q1:DataType_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q2:DataType_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Login_Menu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q3:DataType_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Login_MenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SYS_Login_MenuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q4:DataType_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q5:DataType_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q6:DataType_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_User_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q7:DataType_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q8:DataType_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q9:DataType_Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Role_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q10:DataType_Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q11:DataType_Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ARoleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Menu_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Param_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q12:DataType_Param" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Param_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q13:DataType_Param" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Param_Set">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q14:DataType_Param" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Param_SetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q15:DataType_Param" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Grid_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q16:DataType_Grid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Grid_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q17:DataType_Grid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Grid_Set">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q18:DataType_Grid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SYS_Grid_SetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q19:DataType_Grid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableDefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTableDefResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_储物箱_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q20:DataType_仓库" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_储物箱_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_储物箱_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_储物箱_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q21:DataType_仓库" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_储物箱_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q22:DataType_仓库" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_货架_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q23:DataType_仓库" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_货架_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_货架_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_货架_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q24:DataType_仓库" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_货架_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q25:DataType_仓库" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_仓库_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q26:DataType_仓库" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_仓库_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_仓库_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_仓库_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q27:DataType_仓库" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_仓库_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q28:DataType_仓库" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_仓库_类型_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_仓库_类型_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_仓库_类型_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q29:DataType_存货" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_存货_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q30:DataType_存货" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q31:DataType_存货" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_类别_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q32:DataType_存货_类别" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_类别_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_存货_类别_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_类别_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q33:DataType_存货_类别" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_类别_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q34:DataType_存货_类别" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_类别_Down">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q35:DataType_存货_类别" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_存货_类别_DownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_存货_类别_DownResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q36:DataType_存货_类别" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_期初库存_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q37:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_期初库存_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_期初库存_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_期初库存_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q38:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_期初库存_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q39:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_供应商_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q40:DataType_供应商" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_供应商_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_供应商_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_供应商_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q41:DataType_供应商" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_供应商_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q42:DataType_供应商" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存出库_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q43:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存出库_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="STK_库存出库_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存出库_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q44:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存出库_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q45:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存入库_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q46:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存入库_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="STK_库存入库_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存入库_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q47:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存入库_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q48:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_会计期间_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q49:DataType_会计期间" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_会计期间_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BAS_会计期间_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_会计期间_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q50:DataType_会计期间" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BAS_会计期间_EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q51:DataType_会计期间" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存分布_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q52:DataType_库存分布" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存分布_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="STK_库存分布_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存总账_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/STK_Service" minOccurs="0" name="model" nillable="true" type="q53:DataType_库存管理" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STK_库存总账_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="STK_库存总账_ListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>